# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

.vscode/

.npm/

# Archivos de base de datos locales de MongoDB
mongo/


# Apuntes
notes.md

